/* #119ee6 */
/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Tai+Heritage+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
section {
  padding: 60px 0;
}
.service {
  background: #119ee6;
  color: white;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.service:hover {
  background: white;
  color: black;
}
.service-icon {
  border: 5px solid white;
  outline: 1px solid black;
  background: #119ee6;
  color: white;
  border-radius: 50%;
  margin-top: -50px;
  margin-bottom: 20px;
}
.service-details {
  font-size: 12px;
}
