/* #119ee6 */
/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Tai+Heritage+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap");

* {
  margin: 0;
  padding: 0;
}
section {
  padding: 60px 0;
}
.logo {
  font-family: "Tiro Devanagari Hindi", serif;
}
.logo i,
span {
  color: #119ee6;
}
.nav-item .active {
  border-top: 2px solid #119ee6;
  color: #119ee6 !important;
}
h2,
h3 {
  font-family: "Tiro Devanagari Hindi", sans-serif;
}
.service {
  background: #119ee6;
  color: white;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.service:hover {
  background: white;
  color: black;
}
.service-icon {
  border: 5px solid white;
  outline: 1px solid black;
  background: #119ee6;
  color: white;
  border-radius: 50%;
  margin-top: -50px;
  margin-bottom: 20px;
}
.service-details {
  font-size: 12px;
}
.search {
  background: black;
  color: white;
  font-family: "Tiro Devanagari Hindi", serif;
}
.input-box {
  width: 40vw;
  height: 50px;
  display: flex;
  justify-content: center;
  border: 7px solid #119ee6;
}
.input-box input {
  width: 75%;
  padding-left: 15px;
  font-size: 13px;
  border: none;
  outline: none;
}
.input-box select {
  width: 25%;
  text-align: center;
  border: none;
  background: black;
  color: white;
}
.search-btn {
  background: #119ee6;
  color: white;
}
