/* #119ee6 */
/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Tai+Heritage+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap");

* {
  margin: 0;
  padding: 0;
}
section {
  padding: 60px 0;
}
.logo {
  font-family: "Tiro Devanagari Hindi", serif;
}
.logo i,
span {
  color: #119ee6;
}
.nav-item .active {
  border-top: 2px solid #119ee6;
  color: #119ee6 !important;
}
h2,
h3,
h4 {
  font-family: "Tiro Devanagari Hindi", sans-serif;
}
.service {
  background: #119ee6;
  color: white;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.service:hover {
  background: white;
  color: black;
}
.service-icon {
  border: 5px solid white;
  outline: 1px solid black;
  background: #119ee6;
  color: white;
  border-radius: 50%;
  margin-top: -50px;
  margin-bottom: 20px;
}
.service-details {
  font-size: 12px;
}
.search {
  background: black;
  color: white;
  font-family: "Tiro Devanagari Hindi", serif;
}
.input-box {
  width: 40vw;
  height: 50px;
  display: flex;
  justify-content: center;
  border: 7px solid #119ee6;
}
.input-box input {
  width: 75%;
  padding-left: 15px;
  font-size: 13px;
  border: none;
  outline: none;
}
.input-box select {
  width: 25%;
  text-align: center;
  border: none;
  background: black;
  color: white;
}
.search-btn {
  background: #119ee6;
  color: white;
}
.feature {
  color: black;
}
.feature-icon {
  color: #119ee6;
  border-bottom: 1px solid #119ee6;
}
.pricing {
  color: black;
}
.card-title {
  background: black;
  color: white;
}
.card-rm {
  background: #119ee6;
  color: white;
}
.card-icon {
  color: #119ee6;
}
.card-btn {
  background: #119ee6;
  color: white;
}
.card-btn:hover {
  background: black;
  color: white;
}
.count {
  background: black;
  color: white;
}
.divider {
  color: #119ee6;
}
.tab-content {
  background: white;
  color: black;
}
.services {
  color: black;
}
.services .nav .nav-link {
  color: gray;
}
.services .nav .active {
  color: #119ee6;
}
.services-link {
  text-decoration: none;
  color: black;
}
.services-link:hover {
  color: #119ee6;
}
.choose-us {
  background: white;
  color: black;
}
.choose-text {
  background: #119ee6;
  color: white;
  transition: 0.4s all ease-in-out;
}
.choose-text:hover {
  background: black;
}
.num-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.num-text h4 {
  opacity: 0.2;
}
.tst {
  border-left: 1px solid #119ee6;
  font-size: 14px;
}
.tst-icon:hover {
  cursor: pointer;
  color: #119ee6;
}
.contact {
  background: #119ee6;
  color: white;
}
.footer {
  background: black;
  color: white;
}
.bottom-logo {
  font-family: "Tiro Devanagari Hindi", sans-serif;
  color: white;
}
.bottom-logo i {
  color: #119ee6;
}
.bottom-link {
  text-decoration: none;
}
.bottom-icon:hover {
  color: #119ee6;
  cursor: pointer;
}
.bottom-service li {
  list-style: none;
  font-size: 14px;
}
.bottom-service li:hover {
  color: #119ee6;
  cursor: pointer;
}
.email-box {
  width: 100%;
  display: flex;
  background: white;
  border: 5px solid white;
}
.email-box input {
  width: 70%;
  background: white;
  color: black;
  padding-left: 10px;
  font-size: 14px;
  border: none;
  outline: none;
}
.email-box button {
  width: 30%;
  background: #119ee6;
  color: white;
  font-size: 14px;
  border-radius: 0;
}
.footer-bottom {
  background: black;
  color: white;
  border-top: 1px solid gray;
}
